*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
  background-color: #242323 ;
}

header {
  width: 100vw;
  background-color: #A1FFC7;
  box-shadow: 10px 5px 5px black;
  padding: 20px;
}

.logo{
  width: 50vh;
}

.sobre-nos{
  color:#fff
}

.banner{
  margin: 20px;
}

.carros{
  width: 20%;
  margin: 40px;
  transition: 1s;
  border: solid 2px #000;
}

.carros:hover{
  transition: 1s;
  transform: scale(1.08);
}

.button-sobre{
  padding: 20px 50px;
  margin: 30px;
  cursor: pointer;
  background-color: #A1FFC7;
  transition: 1s;
}
.button-sobre:hover {
  background-color:rgb(17, 235, 158);
  transition: 1s;
}

footer{
  justify-content: end;
  background-color: #000;
}

footer p{
  color: #fff;
  padding: 20 px;
}

footer img{
  width: 50vh;
  padding: 20px 50px;
}
