*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#tabuleiro{
    border-image: url('cp.png') 30 / 20px round;
    width: 640px;
    height: 640px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

button{
    width: 75px;
    height: 75px;
    vertical-align: top; 
}

.cp{
    background-image: url("cp.png");
}
.cp:hover{
    filter:brightness(1.2);
}

.cb{
    background-image: url("cb.png");
}
.cb:hover{
    filter: brightness(0.89);
}